.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 300px;
}
.footer {
  background-color: #eac8ff;
  margin: 0px auto;
  padding: 30px 0px;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #db67ff;
  color: floralwhite;
}
.address {
  margin: 0px;
  font-size: 80%;
}
.Copyright {
  margin: 0px auto;
  padding: 0px 0px;
  padding-top: 20px;
  font-weight: bold;
}
.navbar-dark {
  background-color: #c300ff;
}
.bg-primary {
  background-color: #c300ff !important;
}
.carousel {
  background-color: #c300ff;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#car-btn {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}
